/* Primary Color Pallette */
/* Neutral Color Pallette */
/* Fonts */
@font-face {
  font-family: KumbhSans-Bold;
  src: url(../../public/KumbhSans-Bold.ttf);
}
@font-face {
  font-family: KumbhSans-Regular;
  src: url(../../public/KumbhSans-Regular.ttf);
}
/* Layout */
.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: hsl(229, 23%, 23%);
}

/* Loading Page */
#loading-page {
  align-items: center;
  background-color: #FFFFFF;
  justify-content: center;
  min-height: 100vh;
  padding-top: 8%;
  text-align: center;
  vertical-align: middle;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  align-items: center;
  background-image: url(../../public/bg-pattern-top.svg);
  background-position: -80vh -110vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  min-height: 90vh;
  padding: 8%;
  text-align: center;
}

#home-page-behind {
  background-color: hsl(185, 75%, 39%);
  background-image: url(../../public/bg-pattern-bottom.svg);
  background-position: 80vh 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Profile Card Component */
#profile {
  background-color: #FFFFFF;
  border-radius: 10px;
  color: hsl(0, 0%, 59%);
  font-family: "KumbhSans-Regular";
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  min-height: 20vh;
  overflow: hidden;
  padding-bottom: 2px;
  position: relative;
  right: 0;
  text-align: center;
  vertical-align: middle;
  width: 300px !important;
}

.profile-background {
  background-image: url(../../public/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18vh;
}

.profile-wrapper {
  border: 4px solid #FFFFFF !important;
  border-radius: 50% !important;
  height: 13vh !important;
  left: 0px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 80px;
  width: 13vh !important;
}

.profile-header {
  margin-top: 55px;
}

.profile-name {
  color: hsl(229, 23%, 23%);
  font-family: "KumbhSans-Bold";
  font-size: 1.05rem;
}

.profile-count {
  font-size: 0.95rem;
}

.profile-loc {
  font-size: 0.8rem;
  margin-top: -15px;
}

.divider {
  background-color: hsl(185, 75%, 39%);
  color: hsl(0, 0%, 59%);
  height: 1px;
  margin-top: 0px;
}

.stats-box {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.stats-header {
  color: hsl(229, 23%, 23%);
  font-family: "KumbhSans-Bold";
  font-size: 0.95rem;
}

.stats-text {
  font-size: 0.65rem;
  letter-spacing: 1.2px;
}

@media (max-width: 800px) {
  #home-page-behind {
    background-position: 30vh 30vh;
  }
  #home-page {
    background-position: -70vh -50vh;
  }
}