@import "./styles_variables.scss";

/* Layout */
.attribution { 
  font-size: 11px; 
  text-align: center; 
  font-size: 0.8rem;
}

.attribution a { 
  color: $veryDarkDesaturatedBlue; 
}

/* Loading Page */
#loading-page {
  background-color: $white;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  padding-top: 8%;
}

.loading-text {
  padding: 15px;
  font-size: 1.4rem;
}

/* Home Page */
#home-page {
  
  padding: 8%;
  min-height: 90vh;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-image: url(../../public/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -80vh -110vh;
}

#home-page-behind {
  background-color: $darkCyan;
  background-image: url(../../public/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80vh 30vh;
}

/* Profile Card Component */
#profile {
  background-color: $white;
  text-align: center;
  min-height: 20vh;
  width: 300px !important;
  border-radius: 10px;
  justify-content: center;
  vertical-align: middle;
  text-align: center;

  font-family: $KumbhSans-Regular;
  color: $darkGray;

  position: relative;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  padding-bottom: 2px;

  overflow: hidden;
}

.profile-background {
  background-image: url(../../public/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 18vh;
}

.profile-wrapper {
  width: 13vh !important;
  height: 13vh !important;
  border-radius: 50% !important;
  border: 4px solid $white !important;
  overflow: hidden;
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin: auto;
}

.profile-header {
  margin-top: 55px;
}

.profile-name {
  font-family: $KumbhSans-Bold;
  font-size: 1.05rem;
  color: $veryDarkDesaturatedBlue;
}

.profile-count {
  font-size: 0.95rem;
}

.profile-loc {
  font-size: 0.8rem;
  margin-top: -15px;
}

.divider {
  background-color: $darkCyan;
  color: $darkGray;
  height: 1px;
  margin-top: 0px;
}

.stats-box {
  padding-left: 40px !important;
  padding-right: 40px!important;
}

.stats-header {
  color: $veryDarkDesaturatedBlue;
  font-family: $KumbhSans-Bold;
  font-size: 0.95rem;
}

.stats-text {
  font-size: 0.65rem;
  letter-spacing: 1.2px;
}

@media(max-width: 800px) {
  #home-page-behind {
    background-position: 35vh 50vh;
  }

  #home-page {
    background-position: -50vh -50vh;
  }

}