/* Primary Color Pallette */
/* Neutral Color Pallette */
/* Fonts */
@font-face {
  font-family: LexendDeca-Regular;
  src: url(../../public/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: LexendDeca-Light;
  src: url(../../public/LexendDeca-Light.ttf);
}
@font-face {
  font-family: BigShouldersDisplay-Bold;
  src: url(../../public/BigShouldersDisplay-Bold.ttf);
}
/* Layout */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #004241;
}

/* Loading Page */
#loading-page {
  background-color: #F0F0F0;
  min-height: 100vh;
  padding-top: 8%;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  background-color: #F0F0F0;
  min-height: 100vh;
  padding: 7%;
}

/* Preview Card Component */
#preview-card {
  background-color: #F0F0F0;
  border-radius: 7px !important;
  font-family: "LexendDeca-Light";
  justify-content: center;
  margin-top: 15%;
  min-height: 20vh;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  vertical-align: middle;
}

.content-row {
  border-radius: 10px;
}

.col-section {
  padding-bottom: 35px;
  padding-right: 15px;
}

.col-sedans {
  background-color: #E38826;
}

.col-suvs {
  background-color: #006970;
}

.col-luxury {
  background-color: #004241;
}

.icon-wrapper {
  text-align: left;
}

.card-title {
  color: #FFFFFF;
  font-family: "BigShouldersDisplay-Bold";
  font-size: 1.8rem;
}

.card-text {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.75rem;
}

.card-btn {
  background-color: #FFFFFF;
  border: 1.5px solid #FFFFFF !important;
  border-radius: 30px;
  box-shadow: none !important;
  font-family: "LexendDeca-Regular";
  font-size: 0.75rem;
  margin-left: 14px;
  outline: none !important;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  width: 58% !important;
}

.btn-sedans {
  color: #E38826;
}

.btn-suvs {
  color: #006970;
}

.btn-luxury {
  color: #004241;
}

.btn-sedans:hover, .btn-suvs:hover, .btn-luxury:hover {
  background-color: transparent !important;
  color: #FFFFFF;
}