@import "./styles_variables.scss";

/* Layout */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: $veryDarkCyan;
}

/* Loading Page */
#loading-page {
  background-color: $offWhite;
  min-height: 100vh;
  padding-top: 8%;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  background-color: $offWhite;
  min-height: 100vh;
  padding: 7%;
}

/* Preview Card Component */
#preview-card {
  background-color: $offWhite;
	border-radius: 7px !important;
	font-family: $LexendDeca-Light;
	justify-content: center;
	margin-top: 15%;
	min-height: 20vh;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
}

.content-row {
  border-radius: 10px;
}

.col-section {
  padding-bottom: 35px;
  padding-right: 15px;
}

.col-sedans {
  background-color: $orange;
}

.col-suvs {
  background-color: $darkCyan;
}

.col-luxury {
  background-color: $veryDarkCyan;
}

.icon-wrapper {
  text-align: left;
}

.card-title {
  color: $white;
  font-family: $BigShouldersDisplay-Bold;
  font-size: 1.8rem;
}

.card-text {
  color: $transparentWhite;
  font-size: 0.75rem;
}

.card-btn {
  background-color: $white;
	border: 1.5px solid $white !important;
	border-radius: 30px;
	box-shadow: none !important;
	font-family: $LexendDeca-Regular;
	font-size: 0.75rem;
	margin-left: 14px;
	outline: none !important;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	width: 58% !important;
}

.btn-sedans {
  color: $orange;
}

.btn-suvs {
  color: $darkCyan;
}

.btn-luxury {
  color: $veryDarkCyan;
}

.btn-sedans:hover, .btn-suvs:hover, .btn-luxury:hover {
  background-color: transparent !important;
  color: $white;
}