/* Primary Color Pallette */
/* Accent Color Pallette */
/* Neutral Color Pallette */
/* Fonts */
@font-face {
  font-family: Raleway-Bold;
  src: url(../../public/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../../public/Raleway-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../../public/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../../public/OpenSans-Regular.ttf);
}
/* Layout */
.attribution {
  font-size: 11px;
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(217, 28%, 15%);
}

/* Navbar */
#navigation {
  background-color: hsl(217, 28%, 15%);
  text-align: left;
  font-family: "Raleway-Regular";
  padding: 15px;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 145px;
  display: inline-block;
  vertical-align: middle;
}

.nav-item {
  padding: 0 12px;
  font-size: 0.9rem;
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  text-decoration: underline;
  font-family: "Raleway-Bold";
}

.navbar-light {
  outline: none;
  box-shadow: none;
}

/* Loading Page */
#loading-page {
  background-color: hsl(218, 28%, 13%);
  color: #FFFFFF;
  text-align: center;
  min-height: 100vh;
  padding-top: 2%;
}

.loading-text {
  padding: 15px;
  font-size: 1.4rem;
}

/* Home Page */
#home-page {
  background-color: hsl(218, 28%, 13%) !important;
  background-color: white;
  color: #FFFFFF;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "OpenSans-Regular";
}

.section-intro {
  padding-left: 23% !important;
  padding-right: 23% !important;
  padding-bottom: 10%;
  overflow: visible !important;
  background-image: url(../../public/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 50%;
  overflow: visible !important;
  background-color: hsl(217, 28%, 15%);
}

.section-intro-pic {
  background-image: url(../../public/illustration-intro.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 65vh;
}

.section-intro-header {
  font-family: "Raleway-Bold";
  font-size: 2.1rem;
}

.section-intro-text {
  font-size: 1.1rem;
}

.section-intro-button {
  width: 40% !important;
  min-height: 45px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: #FFFFFF;
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  font-family: "OpenSans-Bold";
  padding-top: auto !important;
  padding-bottom: auto !important;
  border-radius: 35px;
}

.section-intro-button:hover {
  background: hsl(198, 60%, 70%);
}

.section-details {
  padding-left: 14% !important;
  padding-right: 14% !important;
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-details-header {
  font-family: "OpenSans-Bold";
  font-size: 1.1rem;
}

.section-details-text {
  font-size: 0.75rem;
}

.section-how {
  padding-left: 4% !important;
  padding-right: 8% !important;
  text-align: left;
  margin-bottom: 10%;
}

.section-how-pic {
  background-image: url(../../public/illustration-stay-productive.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 60vh;
}

.section-how-header {
  font-family: "OpenSans-Bold";
  font-size: 2.1rem;
  width: 80% !important;
  margin-bottom: 20px;
  margin-top: 21%;
}

.section-how-text {
  font-size: 0.9rem;
}

.section-how-link {
  color: hsl(176, 68%, 64%);
  text-underline-offset: 8px;
}

.section-how-link:hover {
  color: #FFFFFF !important;
}

.section-testimonials {
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 3%;
  text-align: left;
  margin-bottom: 20%;
  background-image: url(../../public/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 7.5vh 1vh;
}

.testimonial-box {
  background-color: hsl(219, 30%, 18%);
  border-radius: 8px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.testimonial-text {
  font-size: 0.8rem;
}

.profile-wrapper {
  width: 4.5vh !important;
  height: 4.5vh !important;
  border-radius: 50% !important;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.profile-name {
  font-size: 0.85rem;
  font-family: "Raleway-Bold";
}

.profile-title {
  font-size: 0.4rem;
}

.section-register {
  background: linear-gradient(to bottom, hsl(218, 28%, 13%), hsl(217, 28%, 15%));
  position: relative;
}

.register-box {
  background-color: hsl(217, 28%, 15%);
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  width: 60% !important;
  position: absolute;
  top: -125px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin: auto;
}

.register-header {
  font-family: "OpenSans-Bold";
  font-size: 1.8rem;
}

.register-text {
  font-size: 0.8rem;
}

.register-input {
  min-height: 45px;
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 0.7rem !important;
  border-radius: 35px !important;
}

.register-button {
  width: 100% !important;
  min-height: 45px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: #FFFFFF;
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  font-family: "OpenSans-Bold";
  padding-top: auto !important;
  padding-bottom: auto !important;
  border-radius: 35px;
}

.register-button:hover {
  background: hsl(198, 60%, 70%);
}

.section-footer {
  padding-top: 12%;
  background-color: hsl(216, 53%, 9%);
}

@media (max-width: 620px) {
  .navbar-collapse {
    background-color: #FFFDFA;
    width: 80%;
    margin-top: 80%;
    margin-left: 10rem;
    position: absolute;
    padding: 3%;
    padding-top: 20%;
    height: 150vh;
    top: auto;
    z-index: 10;
  }
  .section-intro {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
  .section-intro-pic {
    min-height: 45vh;
  }
  .section-intro-button {
    width: 70% !important;
    margin-bottom: 15%;
  }
  .section-how {
    padding-left: 8% !important;
    padding-right: 8% !important;
    text-align: left;
  }
  .section-how-header {
    margin-top: 0%;
  }
  .section-testimonials {
    padding-left: 8% !important;
    padding-right: 8% !important;
    background-position: 6.5vh -1vh;
  }
}