/* Primary Color Pallette */
/* Accent Color Pallette */
/* Neutral Color Pallette */
/* Fonts */
@font-face {
  font-family: Raleway-Bold;
  src: url(../../public/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../../public/Raleway-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../../public/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../../public/OpenSans-Regular.ttf);
}
/* Layout */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(217, 28%, 15%);
}

/* Navbar */
#navigation {
  background-color: hsl(217, 28%, 15%);
  font-family: "Raleway-Regular";
  padding: 15px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  color: transparent !important;
  display: inline-block;
  font-size: xx-small;
  vertical-align: middle;
  width: 145px;
}

.nav-item {
  font-size: 0.9rem;
  padding: 0 12px;
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  font-family: "Raleway-Bold";
  text-decoration: underline;
}

.navbar-light {
  box-shadow: none;
  outline: none;
}

/* Loading Page */
#loading-page {
  background-color: hsl(218, 28%, 13%);
  color: #FFFFFF;
  min-height: 100vh;
  padding-top: 2%;
  text-align: center;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  align-items: center;
  background-color: hsl(218, 28%, 13%) !important;
  background-color: white;
  color: #FFFFFF;
  font-family: "OpenSans-Regular";
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.section-intro {
  background-color: hsl(217, 28%, 15%);
  background-image: url(../../public/bg-curvy-desktop.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  overflow: visible !important;
  padding-bottom: 10%;
  padding-left: 23% !important;
  padding-right: 23% !important;
}

.section-intro-pic {
  background-image: url(../../public/illustration-intro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 65vh;
}

.section-intro-header {
  font-family: "Raleway-Bold";
  font-size: 2.1rem;
}

.section-intro-text {
  font-size: 1.1rem;
}

.section-intro-button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: 0px !important;
  border-radius: 35px;
  box-shadow: none !important;
  color: #FFFFFF;
  font-family: "OpenSans-Bold";
  font-size: 0.95rem;
  min-height: 45px;
  outline: none !important;
  padding-bottom: auto !important;
  padding-top: auto !important;
  width: 40% !important;
}

.section-intro-button:hover {
  background: hsl(198, 60%, 70%);
}

.section-details {
  margin-bottom: 10%;
  margin-top: 10%;
  padding-left: 14% !important;
  padding-right: 14% !important;
}

.section-details-header {
  font-family: "OpenSans-Bold";
  font-size: 1.1rem;
}

.section-details-text {
  font-size: 0.75rem;
}

.section-how {
  margin-bottom: 10%;
  padding-left: 4% !important;
  padding-right: 8% !important;
  text-align: left;
}

.section-how-pic {
  background-image: url(../../public/illustration-stay-productive.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 60vh;
}

.section-how-header {
  font-family: "OpenSans-Bold";
  font-size: 2.1rem;
  margin-bottom: 20px;
  margin-top: 21%;
  width: 80% !important;
}

.section-how-text {
  font-size: 0.9rem;
}

.section-how-link {
  color: hsl(176, 68%, 64%);
  text-underline-offset: 8px;
}

.section-how-link:hover {
  color: #FFFFFF !important;
}

.section-testimonials {
  background-image: url(../../public/bg-quotes.png);
  background-position: 7.5vh 1vh;
  background-repeat: no-repeat;
  background-size: 5%;
  margin-bottom: 20%;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 3%;
  text-align: left;
}

.testimonial-box {
  background-color: hsl(219, 30%, 18%);
  border-radius: 8px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}

.testimonial-text {
  font-size: 0.8rem;
}

.profile-wrapper {
  border-radius: 50% !important;
  height: 4.5vh !important;
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 4.5vh !important;
}

.profile-name {
  font-family: "Raleway-Bold";
  font-size: 0.85rem;
}

.profile-title {
  font-size: 0.4rem;
}

.section-register {
  background: linear-gradient(to bottom, hsl(218, 28%, 13%), hsl(217, 28%, 15%));
  position: relative;
}

.register-box {
  background-color: hsl(217, 28%, 15%);
  border-radius: 8px;
  left: 0px;
  margin: auto;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  position: absolute;
  right: 0px;
  text-align: center;
  top: -135px;
  width: 60% !important;
}

.register-header {
  font-family: "OpenSans-Bold";
  font-size: 1.8rem;
}

.register-text {
  font-size: 0.8rem;
}

.register-input {
  border: 0px !important;
  border-radius: 35px !important;
  box-shadow: none !important;
  font-size: 0.7rem !important;
  min-height: 45px;
  outline: none !important;
}

.register-button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: 0px !important;
  border-radius: 35px;
  box-shadow: none !important;
  color: #FFFFFF;
  font-family: "OpenSans-Bold";
  font-size: 0.8rem;
  min-height: 45px;
  outline: none !important;
  padding-bottom: auto !important;
  padding-top: auto !important;
  width: 100% !important;
}

.register-button:hover {
  background: hsl(198, 60%, 70%);
}

.register-error {
  color: hsl(0, 100%, 63%);
  font-size: 0.65rem;
  text-align: left !important;
}

.section-footer {
  background-color: hsl(216, 53%, 9%);
  padding-bottom: 6% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 13%;
  text-align: left;
}

.footer-location {
  font-size: 0.9rem;
}

.footer-contact {
  font-size: 0.8rem;
}

.footer-link {
  color: #FFFFFF !important;
  font-size: 0.9rem;
  margin-bottom: 7px;
  margin-top: 7px;
  text-decoration: none !important;
}

.footer-link:hover {
  font-weight: bold;
}

.icon-wrapper {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  height: 30px;
  text-align: center;
  width: 30px;
}

.icon-btn {
  background-color: hsl(216, 53%, 9%) !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 50%;
  box-shadow: none !important;
  color: #FFFFFF !important;
  margin: 7px;
  outline: none !important;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.icon-btn:hover {
  border-color: hsl(176, 68%, 64%) !important;
  color: hsl(176, 68%, 64%) !important;
}

@media (max-width: 620px) {
  .navbar-logo {
    width: 100px;
  }
  .nav-item {
    font-size: 0.8rem;
    margin-bottom: 3px !important;
    padding-left: 0px !important;
    padding-right: 1px !important;
  }
  .section-intro {
    background-image: url(../../public/bg-curvy-mobile.svg);
    height: 70%;
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
  .section-intro-pic {
    min-height: 45vh;
  }
  .section-intro-button {
    margin-bottom: 15%;
    width: 70% !important;
  }
  .section-how {
    padding-left: 8% !important;
    padding-right: 8% !important;
    text-align: left;
  }
  .section-how-header {
    margin-top: 0%;
  }
  .section-testimonials {
    background-position: 6.5vh -1vh;
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
  .register-box {
    margin-top: 40%;
    position: relative !important;
  }
  .register-button {
    margin-bottom: 4%;
    margin-top: 4%;
  }
  .icon-row {
    text-align: center;
  }
  .icon-wrapper {
    height: 20px !important;
    width: 20px !important;
  }
  .icon-btn {
    padding-top: 3px;
  }
}