/* Color Palette
-Primary
Purple: #854DFF
Light red: #FF5757

-Neutral
White: #FFFFFF
Off white: #F0F0F0
Light grey: #DBDBDB
Smokey grey: #716F6F
Off black: #141414
*/

/* Imported Fonts */
@font-face {
  font-family: Poppins-Bold;
  src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Poppins-Italic;
  src: url(assets/fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(assets/fonts/Poppins-Regular.ttf);
}

/* App */
.App {
  background-color: #F0F0F0;
  color: white;
  min-height: 100vh;
  width: auto;
  padding: 5%;
}

/* Landing Page */
#landing-page {
  background-color: #DBDBDB;
  font-family: Poppins-Regular;
  padding: 8%;
  box-shadow: #DBDBDB 0px 13px 27px -5px, #716F6F 0px 8px 16px -8px;
  border-radius: 10px;
}

/* Age Calculator component */
#age-calculator {
  background-color: #FFFFFF;
  margin: auto;
  text-align: left;
  min-height: 80vh;
  border-radius: 4%;
  border-bottom-right-radius: 30%;

  padding: 1%;
  padding-top: 3%;
  padding-left: 6%;
  color: #716F6F;
  font-weight: bold;
}

.calc-form {
  margin: 2%;
  margin-right: 20%;
}

.calc-label {
  letter-spacing: 5px;
  font-size: 12px;
}

.calc-label-error {
  color: #FF5757;
  letter-spacing: 5px;
  font-size: 12px;
}

.calc-error {
  font-size: 8px;
  color: #FF5757;
  text-align: center;
}

.calc-box {
  font-family: Poppins-ExtraBold;
  color: #141414;
  font-size: 40px;
}

/* Removes the up/down arrow keys on number input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.calc-button {
  background-color: #854DFF;
  padding: 30px;
  border:0!important;
  border-radius: 60px;
  z-index: 1;
}

.calc-button:hover {
  background-color: #DBDBDB;
}

.calc-divider {
  display: block;
  text-align: right;
  overflow: hidden;
  white-space: nowrap; 
}

.calc-divider > span {
  position: relative;
  display: inline-block;
}

.calc-divider > span:before,
.calc-divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #DBDBDB;
}

.calc-divider > span:before {
  right: 100%;
  margin-right: 2px;
}

.calc-divider > span:after {
  left: 100%;
  margin-left: 2px;
}

.calc-results {
  font-family: Poppins-ExtraBoldItalic;
  font-size: 72px;
  color: #141414;
}

.calc-value {
  color: #854DFF;
}

.calc-value-animation {
  color: #854DFF;
  animation-duration: 1.4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 37%;
    width: 300%;
    letter-spacing: 55px;
  }

  to {
    margin-left: 0%;
    width: 100%;
    letter-spacing: 0px;
  }
}

@media(max-width: 800px) {
  .calc-results {
    font-size: 64px;
  }

  .calc-divider {
    text-align: center;
  }
}