@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: JosefinSans-Regular;
  src: url(../../public/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url(../../public/JosefinSans-Bold.ttf);
}