/* Neutral Color Palette */
/* Imported Fonts */
@font-face {
  font-family: Outfit-Bold;
  src: url(assets/fonts/Outfit-Bold.ttf);
}
@font-face {
  font-family: Outfit-Regular;
  src: url(assets/fonts/Outfit-Regular.ttf);
}