/* Primary Color Pallette */
/* Accent Color Pallette */
/* Neutral Color Pallette */
/* Fonts */
@font-face {
  font-family: Barlow-SemiBold;
  src: url(../../public/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: Fraunces-Bold;
  src: url(../../public/Fraunces_72pt-Bold.ttf);
}
@font-face {
  font-family: Fraunces-Black;
  src: url(../../public/Fraunces_72pt-Black.ttf);
}
/* Layout */
.attribution {
  font-size: 11px;
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(198, 62%, 26%);
}

/* Navbar */
#navigation {
  background-color: none;
  text-align: left;
  font-family: "Barlow-SemiBold";
  margin-bottom: 6%;
  padding-left: 2%;
  padding-right: 2%;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 120px;
}

.nav-item {
  padding: 0 12px;
  font-size: 0.95rem;
  font-family: "Barlow-SemiBold";
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  font-size: 1.2rem;
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-toggler {
  border: none !important;
}

.dropdown-toggle::after {
  /* display: none; */
}

.navbar-light .navbar-burger {
  background-image: url(../../public/icon-hamburger.svg) !important;
  outline: none;
  box-shadow: none;
}

.icon-fill {
  color: #FFFFFF;
}

.contact-button {
  width: 7rem !important;
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  border: 0 !important;
  padding: 13px;
  border-radius: 60px;
  font-family: "Fraunces-Black";
  font-size: 0.8rem;
  box-shadow: none;
}

.contact-button:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
  color: hsl(0, 0%, 100%);
}

@media (max-width: 986px) {
  .navbar-collapse {
    background-color: #FFFDFA;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-item {
    padding: 7px 0px 7px 0px;
  }
  .nav-link {
    color: hsl(210, 4%, 67%) !important;
  }
  .nav-link:hover {
    color: hsl(7, 99%, 70%) !important;
  }
  .contact-button {
    background-color: hsl(51, 100%, 49%);
  }
  .contact-button:hover {
    background-color: hsl(7, 99%, 70%);
  }
}
/* Loading Page */
#loading-page {
  background-color: hsl(198, 62%, 26%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  min-height: 100vh;
  padding-top: 10%;
}

.loading-text {
  padding: 15px;
  font-size: 1.4rem;
}

/* Home Page */
#home-page {
  background-color: hsl(0, 0%, 100%) !important;
  background-color: white;
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Barlow-SemiBold";
}

.section-header {
  padding-left: 12% !important;
  padding-right: 12% !important;
  padding-bottom: 10%;
  padding-top: 145px;
  min-height: 95vh;
  background-image: url(../../public/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.section-header-title {
  font-family: "Fraunces-Black";
  letter-spacing: 9px;
  font-size: 2.9rem;
}

.section-details-title {
  font-family: "Fraunces-Black";
  font-size: 2.1rem;
  color: hsl(167, 40%, 24%);
}

.section-details-text {
  color: hsl(210, 4%, 67%);
  font-size: 0.9rem;
}

.col-transform {
  padding: 18%;
  padding-left: 25%;
  text-align: left;
}

.col-egg {
  background-image: url(../../public/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  min-height: 400px;
  min-width: 400px;
  height: auto;
  width: auto;
}

@media (max-width: 620px) {
  .section-header {
    background-image: url(../../public/mobile/image-header.jpg);
    padding-top: 100px;
  }
  .section-header-title {
    letter-spacing: 2px;
  }
}