@import "./styles_variables.scss";

/* Layout */
.attribution {
  font-size: 11px;  
  text-align: center; 
}

.attribution a { 
  color: $darkBlue;
}

/* Navbar */
#navigation {
  background-color: none;
	font-family: $Barlow-SemiBold;
	left: 0;
	margin-bottom: 6%;
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
	right: 0;
	text-align: center;
	text-align: left;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 120px;
}

.nav-item {
  font-family: $Barlow-SemiBold;
	font-size: 0.95rem;
	margin-bottom: auto;
	margin-top: auto;
	padding: 0 12px;
}

.nav-link {
  color: #FFFFFF !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-burger {
  background-image: url(../../public/icon-hamburger.svg) !important;
  box-shadow: none;
  outline: none;
}

.icon-fill {
  color: #FFFFFF;
}

.contact-button {
  background-color: $white;
	border: 0 !important;
	border-radius: 60px;
	box-shadow: none;
	color: $veryDarkDesaturatedBlue;
	font-family: $Fraunces-Black;
	font-size: 0.8rem;
	padding: 13px;
	width: 7rem !important;
}

.contact-button:hover {
  background-color: $whiteTransparent;
  color: $white;
}

#navbarNav {
  margin-left: 8px;
	margin-right: 8px;
	margin-top: 10px;
	position: relative;
}

/* Loading Page */
#loading-page {
  background-color: $yellowTransparent;
	color: $white;
	min-height: 100vh;
	padding-top: 10%;
	text-align: center;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  align-items: center;
	background-color: $offWhite !important;
	background-color: white;
	color: $white;
	font-family: $Barlow-SemiBold;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	text-align: center;
}

.section-header {
  background-image: url(../../public/desktop/image-header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 80vh;
	padding-bottom: 10%;
	padding-left: 12% !important;
	padding-right: 12% !important;
	padding-top: 120px;
}

.section-header-title {
  font-family: $Fraunces-Black;
  font-size: 2.9rem;
  letter-spacing: 9px;
}

.section-details-title {
  color: $darkDesaturatedCyan;
  display: inline-block !important;
  font-family: $Fraunces-Black;
  font-size: 2.3rem;
}

.section-details-text {
  color: $grayishBlue;
  display: inline-block !important;
  font-size: 1.1rem;
}

.section-details-link {
  color: $darkDesaturatedCyan !important;
  font-family: $Fraunces-Black;
  font-size: 0.95rem;
  text-decoration: none !important;
}

span.transform {
  box-shadow: inset 0 -0.4em 0 0 $yellowTransparent;
  padding: 0 10px;
}

span.transform:hover {
  box-shadow: inset 0 -0.6em 0 0 $yellow;
}

.col-transform {
  align-items: start !important;
	background-color: $offWhite;
	display: flex;
	flex-direction: column;
	height: 50vw;
	justify-content: center !important;
	padding-left: 20vh;
	padding-right: 20vh;
	text-align: left;
}

.col-egg {
  background-image: url(../../public/desktop/image-transform.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100% !important;
	min-height: 100%;
}

.col-audience {
  align-items: start !important;
	background-color: $offWhite;
	display: flex;
	flex-direction: column;
	height: 50vw;
	justify-content: center !important;
	padding-left: 20vh;
	padding-right: 20vh;
	text-align: left;
}

.col-cup {
  background-image: url(../../public/desktop/image-stand-out.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	overflow: hidden;
}

span.audience {
  box-shadow: inset 0 -0.4em 0 0 $softRedTransparent;
  padding: 0 10px;
}

span.audience:hover {
  box-shadow: inset 0 -0.6em 0 0 $softRed;
}

.col-cherry {
  align-items: center;
	background-image: url(../../public/desktop/image-graphic-design.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 50vw;
	justify-content: end;
	padding-bottom: 14vh;
	padding-left: 20vh;
	padding-right: 20vh;
	text-align: center;
}

.col-orange {
  align-items: center;
	background-image: url(../../public/desktop/image-photography.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 50vw;
	justify-content: end;
	padding-bottom: 14vh;
	padding-left: 20vh;
	padding-right: 20vh;
	text-align: center;
}

div[class^="col-lg-6"] {
  margin: 0;
  overflow: hidden !important;
  padding: 0 !important;
}

.section-details-subtitle {
  color: $darkDesaturatedCyan;
  font-family: $Fraunces-Black;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.section-details-fruit {
  color: $darkDesaturatedCyan;
  font-size: 0.8rem;
}

.section-testimonials {
  background-color: $offWhite;
	justify-content: center;
	padding: 18vh;
	padding-left: 25vh;
	padding-right: 25vh;
	text-align: center;
}

.avatar-wrapper {
  border-radius: 50% !important;
	height: 8vh !important;
	margin: auto;
	overflow: hidden;
	text-align: center;
	width: 8vh !important;
}

.avatar-emily {
  background-image: url(../../public/image-emily.jpg);
  background-size: cover;
}

.avatar-thomas {
  background-image: url(../../public/image-thomas.jpg);
  background-size: cover;
}

.avatar-jennie {
  background-image: url(../../public/image-jennie.jpg);
  background-size: cover;
}

.section-testimonials-title {
  color: $grayishBlue;
  font-family: $Fraunces-Black;
  font-size: 1rem;
  letter-spacing: 4px;
}

.section-testimonials-text {
  color: $darkGrayishBlue;
  font-size: 0.95rem;
}

.section-testimonials-name {
  color: $darkDesaturatedCyan;
  font-family: $Fraunces-Black;
  font-size: 1.0rem;
}

.section-testimonials-role {
  color: $grayishBlue;
  font-size: 0.8rem;
}

.col-milk {
  background-image: url(../../public/desktop/image-gallery-milkbottles.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	max-width: 100% !important;
	min-height: 35vw;
}

.col-bowl {
  background-image: url(../../public/desktop/image-gallery-orange.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	max-width: 100% !important;
	min-height: 35vw;
}

.col-cone {
  background-image: url(../../public/desktop/image-gallery-cone.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	max-width: 100% !important;
	min-height: 35vw;
}

.col-cubes {
  background-image: url(../../public/desktop/image-gallery-sugarcubes.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	max-width: 100% !important;
	min-height: 35vw;
}

div[class^="col-6"] {
  margin: 0;
  padding: 0 !important;
}

.section-footer {
  background-color: $darkModerateCyanTransparent;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.section-footer-logo {
  color: $darkDesaturatedCyan;
}

.section-footer-link {
  color: $darkDesaturatedCyan;
  display: inline !important;
  padding: 15px;
  text-decoration: none;
}

.section-footer-link:hover {
  color: $white;
}

@media(max-width: 986px) { 
  .navbar-collapse {
    background-color:#FFFDFA;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .nav-item {
    padding: 7px 0px 7px 0px;
  }

  .nav-link {
    color: $grayishBlue !important;
  }

  .nav-link:hover {
    color: $softRed !important;
  }

  .contact-button {
    background-color: $yellow;
  }

  .contact-button:hover {
    background-color: $softRed;
  }

  .triangle {
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, $white 50%, $white 100%);
    height: 42px;
    position: absolute;
    right: 0px;
    top: -30px;
    width: 42px;
  }
}

@media(max-width: 986px) { 
  .section-header {
    background-image: url(../../public/mobile/image-header.jpg);
    background-size: cover;
    padding-top: 145px;
  }

  .section-header-title {
    letter-spacing: 2px;
  }

  .row-egg {
    flex-direction: column-reverse;
  }

  .col-transform {
    align-items: center !important;
    height: 110vw;
    padding-left: 7vh;
    padding-right: 7vh;
    text-align: center;
  }

  .col-egg {
    background-image: url(../../public/mobile/image-transform.jpg);
    height: 110vw;
  }

  .col-audience {
    align-items: center !important;
    height: 110vw;
    padding-left: 7vh;
    padding-right: 7vh;
    text-align: center;
  }

  .col-cup {
    background-image: url(../../public/mobile/image-stand-out.jpg);
    height: 110vw;
  }

  .col-cherry {
    background-image: url(../../public/mobile/image-graphic-design.jpg);
    height: 110vw !important;
    padding-bottom: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .col-orange {
    background-image: url(../../public/mobile/image-photography.jpg);
    height: 110vw !important;
    padding-bottom: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .section-testimonials {
    min-height: 100% !important;
    padding: 6vh !important;
  }

  .col-milk {
    background-image: url(../../public/mobile/image-gallery-milkbottles.jpg);
    min-height: 50vw;
  }

  .col-bowl {
    background-image: url(../../public/mobile/image-gallery-orange.jpg);
    min-height: 50vw;
  }

  .col-cone {
    background-image: url(../../public/mobile/image-gallery-cone.jpg);
    min-height: 50vw;
  }

  .col-cubes {
    background-image: url(../../public/mobile/image-gallery-sugar-cubes.jpg);
    min-height: 50vw;
  }
}