@import "./styles_variables.scss";

/* Layout */
.attribution { 
  font-size: 11px; 
  text-align: center; 
  font-size: 11px;
}

.attribution a { 
  color: $darkBlue;
}

/* Navbar */
#navigation {
  background-color: none;
  text-align: left;
  font-family: $Barlow-SemiBold;
  margin-bottom: 6%;
  padding-left: 2%;
  padding-right: 2%;

  position: absolute;
  left: 0;
  right: 0;
  text-align: center;

}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 120px;
}

.nav-item {
  padding: 0 12px;
  font-size: 0.95rem;
  font-family: $Barlow-SemiBold;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  font-size: 1.2rem;
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-toggler {
  border: none !important;
}

.dropdown-toggle::after {
  /* display: none; */
}

// .navbar-light .navbar-burger {
//   background-image: url(../../public/icon-hamburger.svg) !important;
//   outline: none;
//   box-shadow: none;
// }

@media(max-width: 720px) { 
  // .navbar-collapse {
  //   background-color:#FFFDFA;
  //   width: 80%;
  //   margin-top: 80%;
  //   margin-left: 10rem;
  //   position: absolute !important;;
  //   padding: 3%;
  //   padding-top: 20%;
  //   height: 150vh;
  //   top: auto;
  //   z-index: 10;
  // }
}

.icon-fill {
  color: #FFFFFF;
}

.contact-button {
  width: 7rem !important;
  background-color: $white;
  color: $veryDarkDesaturatedBlue;
  border: 0 !important;
  padding: 13px;
  border-radius: 60px;
  font-family: $Fraunces-Black;
  font-size: 0.8rem;
  box-shadow: none;
  // margin: 1%;
}

// .contact-button:hover {
//   background-color: $white;
//   color: $veryDarkDesaturatedBlue;
//   // border: 1px solid #FFFFFF;
// }

.contact-button:hover {
  background-color: $whiteTransparent;
  color: $white;
}

/* Loading Page */
#loading-page {
  background-color: $darkBlue;
  color: $white;
  // align-items: center;
  // justify-content: center;
  // vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  padding-top: 10%;
}

.loading-text {
  padding: 15px;
  font-size: 1.4rem;
}

/* Home Page */
#home-page {
  background-color: $darkBlue !important;
  background-color: white;;
  color: $white;
  // padding-left: 14%;
  // padding-right: 14%;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $Barlow-SemiBold;
}

.section-header {
  padding-left: 12% !important;
  padding-right: 12% !important;
  padding-bottom: 10%;
  padding-top: 145px;

  // overflow: visible !important;
  min-height: 95vh;

  background-image: url(../../public/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  // // height: 50%;
  // overflow: visible !important;
  
}

.section-header-title {
  // margin-top: 170px;
  font-family: $Fraunces-Black;
  letter-spacing: 9px;
  font-size: 2.9rem;
}

@media(max-width: 620px) { 
  .section-header {
    background-image: url(../../public/mobile/image-header.jpg);
    padding-top: 100px;
  }

  .section-header-title {
    letter-spacing: 2px;
  }
}