@import "./styles_variables.scss";

/* Layout */
.attribution { 
  font-size: 11px; 
  text-align: center; 
  font-size: 11px;
}

.attribution a { 
  color: $darkBlue;
}

/* Navbar */
#navigation {
  background-color: none;
  text-align: left;
  font-family: $Barlow-SemiBold;
  margin-bottom: 6%;
  padding-left: 2%;
  padding-right: 2%;

  position: absolute;
  left: 0;
  right: 0;
  text-align: center;

}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 120px;
}

.nav-item {
  padding: 0 12px;
  font-size: 0.95rem;
  font-family: $Barlow-SemiBold;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  font-size: 1.2rem;
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-burger {
  background-image: url(../../public/icon-hamburger.svg) !important;
  outline: none;
  box-shadow: none;
}

.icon-fill {
  color: #FFFFFF;
}

.contact-button {
  width: 7rem !important;
  background-color: $white;
  color: $veryDarkDesaturatedBlue;
  border: 0 !important;
  padding: 13px;
  border-radius: 60px;
  font-family: $Fraunces-Black;
  font-size: 0.8rem;
  box-shadow: none;
  // margin: 1%;
}

.contact-button:hover {
  background-color: $whiteTransparent;
  color: $white;
}

#navbarNav {
  position: relative;
  margin-top: 10px;
  margin-right: 8px;
  margin-left: 8px;
}

/* Loading Page */
#loading-page {
  background-color: $yellowTransparent;
  color: $white;
  // align-items: center;
  // justify-content: center;
  // vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  padding-top: 10%;
}

.loading-text {
  padding: 15px;
  font-size: 1.4rem;
}

/* Home Page */
#home-page {
  background-color: $offWhite !important;
  background-color: white;;
  color: $white;
  // padding-left: 14%;
  // padding-right: 14%;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $Barlow-SemiBold;
}

.section-header {
  padding-left: 12% !important;
  padding-right: 12% !important;
  padding-bottom: 10%;
  padding-top: 145px;

  // overflow: visible !important;
  min-height: 95vh;

  background-image: url(../../public/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  // // height: 50%;
  // overflow: visible !important;
  
}

.section-header-title {
  // margin-top: 170px;
  font-family: $Fraunces-Black;
  letter-spacing: 9px;
  font-size: 2.9rem;
}

.section-details-title {
  font-family: $Fraunces-Black;
  font-size: 2.1rem;
  color: $darkDesaturatedCyan;
}

.section-details-text {
  color: $grayishBlue;
  font-size: 0.9rem;
}

.section-details-link {
  font-family: $Fraunces-Black;
  font-size: 0.95rem;
  color: $darkDesaturatedCyan !important;
  text-decoration: none !important;
}

span.transform {
  padding: 0 10px;
  box-shadow: inset 0 -0.4em 0 0 $yellowTransparent;
  
}

span.transform:hover {
  box-shadow: inset 0 -0.6em 0 0 $yellow;
}

.col-transform {
  padding: 22%;
  padding-left: 24%;
  text-align: left;

  display: block;
  min-height: 450px;
  max-width: 100% !important;
}

.col-egg {
  background-image: url(../../public/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: block;
  min-height: 500px;
  // min-width: 450px;
  max-width: 100% !important;
}

.col-audience {
  padding: 22%;
  padding-right: 24%;
  text-align: left;

  display: block;
  min-height: 500px;
  max-width: 100% !important;
}

.col-cup {
  background-image: url(../../public/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: block;
  min-height: 500px;
  // min-width: 450px;
  max-width: 100% !important;
}

span.audience {
  padding: 0 10px;
  box-shadow: inset 0 -0.4em 0 0 $softRedTransparent;
}

span.audience:hover {
  box-shadow: inset 0 -0.6em 0 0 $softRed;
}

.col-cherry {
  background-image: url(../../public/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  text-align: center;

  display: block;
  min-height: 500px;
  // min-width: 450px;
  max-width: 100% !important;

  padding-top: 45vh;
  padding-left: 15vh;
  padding-right: 15vh;
}

.col-orange {
  background-image: url(../../public/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  text-align: center;

  display: block;
  min-height: 500px;
  // min-width: 450px;
  max-width: 100% !important;

  padding-top: 45vh;
  padding-left: 15vh;
  padding-right: 15vh;
}

div[class^="col-lg-6"] {
  padding: 0 !important;
  margin: 0;
  overflow: hidden !important;
}

.section-details-subtitle {
  font-family: $Fraunces-Black;
  font-size: 1.5rem;
  color: $darkDesaturatedCyan;
  padding-bottom: 10px;
}

.section-details-fruit {
  color: $darkDesaturatedCyan;
  font-size: 0.8rem;
}

.section-testimonials {
  padding: 18vh;
  text-align: center;
  justify-content: center;
}

.avatar-wrapper {
  width: 8vh !important;
  height: 8vh !important;
  border-radius: 50% !important;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.avatar-emily {
  background-image: url(../../public/image-emily.jpg);
  background-size: cover;
}

.avatar-thomas {
  background-image: url(../../public/image-thomas.jpg);
  background-size: cover;
}

.avatar-jennie {
  background-image: url(../../public/image-jennie.jpg);
  background-size: cover;
}

.section-testimonials-title {
  font-family: $Fraunces-Black;
  font-size: 1rem;
  color: $grayishBlue;
  letter-spacing: 4px;
}

.section-testimonials-text {
  color: $darkGrayishBlue;
  font-size: 0.95rem;
}

.section-testimonials-name {
  font-family: $Fraunces-Black;
  color: $darkDesaturatedCyan;
  font-size: 1.0rem;
}

.section-testimonials-role {
  color: $grayishBlue;
  font-size: 0.8rem;
}

.col-milk {
  background-image: url(../../public/desktop/image-gallery-milkbottles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: block;
  min-height: 360px;
  max-width: 100% !important;
}

.col-bowl {
  background-image: url(../../public/desktop/image-gallery-orange.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: block;
  min-height: 360px;
  max-width: 100% !important;
}

.col-cone {
  background-image: url(../../public/desktop/image-gallery-cone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: block;
  min-height: 360px;
  max-width: 100% !important;
}

.col-cubes {
  background-image: url(../../public/desktop/image-gallery-sugarcubes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: block;
  min-height: 360px;
  max-width: 100% !important;
}

div[class^="col-6"] {
  padding: 0 !important;
  margin: 0;
}

.section-footer {
  background-color: $darkModerateCyanTransparent;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.section-footer-logo {
  color: $darkDesaturatedCyan;
}

.section-footer-link {
  color: $darkDesaturatedCyan;
  text-decoration: none;
  display: inline !important;
  padding: 15px;
}

.section-footer-link:hover {
  color: $white;
}

@media(max-width: 986px) { 
  .navbar-collapse {
    background-color:#FFFDFA;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-item {
    padding: 7px 0px 7px 0px;
  }

  .nav-link {
    color: $grayishBlue !important;
  }

  .nav-link:hover {
    color: $softRed !important;
  }

  .contact-button {
    background-color: $yellow;
  }

  .contact-button:hover {
    background-color: $softRed;
  }

  .triangle {
    width: 42px;
    height: 42px;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, $white 50%, $white 100%);
    position: absolute;
    right: 0px;
    top: -30px;
  }
}

@media(max-width: 986px) { 
  .section-header {
    background-image: url(../../public/mobile/image-header.jpg);
    padding-top: 100px;
  }

  .section-header-title {
    letter-spacing: 2px;
  }

  .row-egg {
    flex-direction: column-reverse;
  }

  .col-egg {
    background-image: url(../../public/mobile/image-transform.jpg);
  }

  .col-cup {
    background-image: url(../../public/mobile/image-stand-out.jpg);
  }

  .col-cherry {
    background-image: url(../../public/mobile/image-graphic-design.jpg);
  }

  .col-orange {
    background-image: url(../../public/mobile/image-photography.jpg);
  }

  .col-milk {
    background-image: url(../../public/mobile/image-gallery-milkbottles.jpg);
    min-height: 260px;
  }

  .col-bowl {
    background-image: url(../../public/mobile/image-gallery-orange.jpg);
    min-height: 260px;
  }

  .col-cone {
    background-image: url(../../public/mobile/image-gallery-cone.jpg);
    min-height: 260px;
  }

  .col-cubes {
    background-image: url(../../public/mobile/image-gallery-sugar-cubes.jpg);
    min-height: 260px;
  }
  
}