/* Color Palette
-Primary
Red: #F65351
Blue: #0A317B

-Neutral
White: #FFFFFF
Very light grayish blue: #F7FAFD
Light grayish blue 1: #E5EFFA
Light grayish blue 2: #DDE7EE
Grayish blue: #939DAE
Dark grayish blue: #5E6778
Very dark blue: #1C202B
*/

/* Imported Fonts */
@font-face {
  font-family: PlusJakartaSans-Medium;
  src: url(assets/fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: PlusJakartaSans-ExtraBold;
  src: url(assets/fonts/PlusJakartaSans-ExtraBold.ttf);
}

/* App */
.App {
  background-color: #F0F0F0;
  color: white;
  min-height: 100vh;
  width: auto;
  padding: 5%;
}

/* Landing Page */
#landing-page {
  background-color: #E5EFFA;
  padding: 8%;
  box-shadow: #DBDBDB 0px 13px 27px -5px, #716F6F 0px 8px 16px -8px;
  border-radius: 10px;
}

/* Notifications component */
#notifications {
  background-color: #FFFFFF;
  font-family: PlusJakartaSans-Medium;
  margin: auto;
  text-align: left;
  min-height: 80vh;
  border-radius: 8px;

  padding-top: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  /* padding-bottom: 4%; */
  color: #939dAE;
}

.col-mark {
  text-align: right;
}

.title {
  color: #1C202B;
  font-size: 1.2rem;
  font-family: PlusJakartaSans-ExtraBold;
}

.title-number {
  background-color: #0A317B;
  color: #FFFFFF;
  font-size: 0.9rem;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 5px;

  margin-left: 5px;
}

.mark-btn {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
  color: #5E6778;
  font-size: 0.9rem;
}

.mark-btn:hover {
  color: #0A317B;
}

.notification-row {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 10px;

  min-height: 11vh;

  border-radius: 7px;
}

.notification-row-details {
  display: flex;
}

.notification-row-details div:first-child {
  min-width: 7vh;
  min-height: 7vh;
}

.notification-row-details div:nth-child(2) {
  max-width: 85%;
  /* flex: 0 0 auto; */
}

.notification-row-details > .notification-img-wrapper {
  min-width: 5vh;
  min-height: 5vh;
  margin-left: auto;
  margin-right: 2%;
}

.unread {
  background-color: #F7FAFD;
}

.read {
  background-color: #FFFFFF;
}

.avatar-wrapper {
  /* background-image: url(assets/avatar-mark-webber.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 6vh !important;
  height: 6vh !important;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 15px;
}

.avatar {
  width: 7vh !important;
  height: 7vh !important;
}

.notification-text {
  font-size: 0.8rem;
  margin-top: 2px;
  margin-bottom: 4px;
  color: #5E6778;
}

.time {
 color: #939DAE;
}

.unread-dot {
  height: 7px;
  width: 7px;
  background-color: #F65351;
  border-radius: 50%;
  display: inline-block;

  margin-bottom: 1px;
  margin-left: 5px;
}

a {
  text-decoration: none !important;
  font-family: PlusJakartaSans-ExtraBold;
}

.a-name {
  color: #1C202B !important;
}

.a-noun {
  color: #5E6778 !important;
}

.a-name:hover, .a-noun:hover {
  color: #0A317B !important;
}

.private-message-wrapper {
  text-decoration: none !important;
  color: #5E6778 !important;
  font-family: PlusJakartaSans-Medium;
}

.private-message {
  font-size: 0.8rem;
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 12px;
  border-radius: 5px;
  border: 1px solid #DDE7EE;

  margin-top: 10px;
}

.private-message:hover {
  background-color: #E5EFFA;
  border: 1px solid #E5EFFA;
}

.notification-img-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 6vh !important;
  height: 6vh !important;
  border-radius: 5px;
}

