/* Color Palette
-Primary
Soft orange: #E9AB53
Soft red: #F15E50

-Neutral
White: #FFFFFF
Off-white: #FFFDFA
Grayish blue: #C5C6CE
Grayish blue - transparent: hsla(233, 8%, 79%, 20%)
Dark grayish blue: #5D5F79
Dark grayish blue - transparent: hsla(236, 13%, 42%, 20%)
Very dark blue: #00001A
Very dark blue - transparent:	hsla(240, 100%, 5%, 20%)
*/

/* Imported Fonts */
@font-face {
  font-family: Inter-Bold;
  src: url(assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(assets/fonts/Inter-Regular.ttf);
}

/* Layout */
.layout-wrapper {
  background-color: #FFFDFA;
  padding: 4%;
}

/* App */
.App {
  background-color: #FFFDFA;
  color: #FFFFFF;
  min-height: 100vh;
  padding-left: 1%;
  width: auto;
}

/* Navigation */
#navigation {
  background-color: #FFFDFA;
  font-family: Inter-Regular;
  margin: 3%;
  text-align: left;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 50px;
}

.nav-item {
  padding: 0 10px;
  font-family: Inter-Regular;
}

.nav-link {
  color: #00001A !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #F15E50 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-burger {
  background-image: url(assets/icon-menu.svg) !important;
  box-shadow: none;
  outline: none;
}

.navbar-light .navbar-x {
  background-image: url(assets/icon-menu-close.svg) !important;
  box-shadow: none;
  margin-bottom: 50%;
  outline: none;
}

@media(min-width: 600px) {
  .navbar-light .navbar-x {
    background-image: none !important;
    box-shadow: none;
    margin-bottom: 50%;
    outline: none;
  }
}

@media(max-width: 600px) { 
  .navbar-collapse {
    background-color:#FFFDFA;
    box-shadow: -300px 0px 0px 0px hsla(240, 100%, 5%, 55%) !important;
    
    margin-top: 525px;
    /* margin-left: 10rem; */
    min-height: 120vh;
    padding-left: 15px;
    padding-right: 50px;
    padding-top: 150px;
    position: fixed;
    right: 0;
    width: 300px;
    z-index: 10;
  }

  .navbar-x {
    margin-left: 215px;
  }
}

/* Landing Page */
#landing-page {
  background-color: #FFFDFA;
  color: #00001A;
  font-family: Inter-Regular;
  padding: 0%;
}

.block-pic-1 {
  background-image: url(assets/image-web-3-desktop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  width: 100%;
}

.news-header {
  font-family: Inter-ExtraBold;
  font-size: 3.3em;
}

.news-text {
  color: #5D5F79;
  font-size: 15px;
}

.read-more-button {
	align-items: center;
	background-color: #F15E50;
	border: 0!important;
	color: #FFFDFA;
	font-size: 13px;
	height: 45px;
	letter-spacing: 3px;
	margin-bottom: 5%;
	padding-top: 1%;
	width: 50%;
}

.read-more-button:hover {
  background-color: #00001A;
}

.new-section {
  background-color: #00001A;
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
}

.new-section-header {
  color: #E9AB53;
  font-family: Inter-Bold;
}

.new-section-subheader {
  color: #FFFDFA;
  font-family: Inter-Bold;
  font-size: 21px;
  text-decoration: none;
}

.new-section-subheader:hover {
  color: #E9AB53 !important;
}

.new-section-text {
  color: #C5C6CE;
  font-size: 15px;
}

hr {
  background-color: #C5C6CE;
  height: 3px;
  margin-top: 10px;
}

.block-pic-2 {
	background-image: url(assets/image-retro-pcs.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 17vh;
	width: 100%;
}

.block-pic-3 {
	background-image: url(assets/image-top-laptops.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 17vh;
	width: 100%;
}

.block-pic-4 {
	background-image: url(assets/image-gaming-growth.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 17vh;
	width: 100%;
}

.bottom-section-header {
  color: #C5C6CE;
  font-family: Inter-ExtraBold;
  font-size: 34px;
}

.bottom-section-subheader {
  color: #00001A;
  font-family: Inter-Bold;
  font-size: 17px;
  text-decoration: none;
}

.bottom-section-subheader:hover {
  color: #F15E50 !important;
}

.bottom-section-text {
  font-size: 13px;
  color: #5D5F79
}