@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Poppins-Regular;
  src: url(../../public/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../../public/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../public/OpenSans-Regular.ttf);
}

/* Backgrounds */
.bg-desktop {
  background-image: url(../../public/bg-desktop.svg);
}

.bg-illustration {
  background-image: url(../../public/bg-mobile.svg);
}

@media (min-width: 768px) {
  .bg-illustration {
    background-image: url(../../public/bg-desktop.svg);
  }
}
