@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Inter-Regular;
  src: url(../../public/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../../public/Inter-Bold.ttf);
}
