/* Color Palette
-Primary
Light red (CTA text): #FF525D
Very light red (CTA hover background): #FF7A85
Very dark blue (headings): #00001A 

-Neutral
White (text): #FFFFFF
Off-white: #FFFDFA
Light grey: #DBDBDB
Grayish blue (footer text): #C5C6CE
Very dark grayish blue (body copy): #4B5862
Very dark black blue (footer background): #25252D

-Background gradient - Intro/CTA mobile nav:
Very light red (CTA hover background): #FF8F70
Light red (CTA text): #FF525D

-Background gradient - body:
Very dark gray blue: #2C2D3F
Very dark desaturated blue: #3F4164
*/

/* Imported Fonts */
@font-face {
  font-family: Overpass-Light;
  src: url(assets/fonts/Overpass-Light.ttf);
}

@font-face {
  font-family: Overpass-SemiBold;
  src: url(assets/fonts/Overpass-SemiBold.ttf);
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url(assets/fonts/Ubuntu-Bold.ttf);
}

/* Layout */
.layout-wrapper {
  background-color: #FFFDFA;
  padding: 0%;
}

/* App */
.App {
  background-color: #FFFDFA;
  color: #FFFFFF;
  min-height: 100vh;
}

/* Navigation */
#navigation {
  background-color: none;
  font-family: Ubuntu-Medium;
  margin-bottom: 6%;
  text-align: left;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  color: transparent !important;
  width: 120px;
}

.nav-item {
  font-family: Ubuntu-Medium;
  padding: 0 5px;
}

.nav-link {
  color: #FFFFFF !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #FFFFFF !important;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-burger {
  background-image: url(assets/icon-hamburger.svg) !important;
  box-shadow: none;
  outline: none;
}

.navbar-light .navbar-x {
  background-image: url(assets/icon-close.svg) !important;
  box-shadow: none;
  outline: none;
}

#dropdown-product, #dropdown-company, #dropdown-connect {
  background-color: transparent !important;
  border: 0 !important;
  color: #FFFFFF !important;
}

#dropdown-product:hover, #dropdown-company:hover, #dropdown-connect:hover {
  font-family: Ubuntu-Bold;
  text-decoration: underline;
}

#dropdown-product::after, #dropdown-company::after, #dropdown-connect::after {
  display: none;
}

.dropdown-item {
  font-family: Ubuntu-Light;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #FFFFFF !important;
  font-family: Ubuntu-Medium;
}

.icon-fill {
  color: #FFFFFF;
}

.login-button {
  background: #FF7A85;
	border: 0 !important;
	border-radius: 60px;
	box-shadow: none;
	color: #FFFFFF;
	font-family: Ubuntu-Bold;
	margin: 1%;
	padding: 10px;
	width: 7rem !important;
}

.login-button:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #FF7A85;
}

.signup-button {
  background-color: #FFFFFF;
	border: 0 !important;
	border-radius: 60px;
	color: #FF7A85;
	font-family: Ubuntu-Bold;
	margin: 1%;
	padding: 10px;
	width: 7rem !important;
}

.signup-button:hover {
  background-color: #FF7A85;
  border: 1px solid #FF7A85;
  color: #FFFFFF;
}

/* Landing Page */
#landing-page {
  background-color: #FFFDFA;
  color: #00001A;
}

/* Section 1 */
.section-1 {
  background-image: url(assets/bg-pattern-intro-desktop.svg), linear-gradient(to right, #FF8F70, #FF525D);
	background-position: 30% 50%;
	background-size: 200% 500%;
	border-bottom-left-radius: 140px;
	color: #FFFFFF;
	justify-content: center;
	min-height: 30vh;
	padding-bottom: 12%;
	padding-left: 14%;
	padding-right: 14%;
	padding-top: 5%;
	text-align: center !important;
}

.section-1-header {
  font-family: Overpass-SemiBold;
  font-size: 3.3rem;
}

.section-1-text {
  font-family: Overpass-Light;
}

.button-row {
  justify-content: center;
}

.start-button {
  background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 60px;
	color: #FF7A85;
	font-family: Ubuntu-Bold;
	margin: 1%;
	padding: 10px;
	width: 9rem !important;
}

.start-button:hover {
  background-color: #FF7A85;
  border: 1px solid #FF7A85;
  color: #FFFFFF;
}

.learn-button {
  background: none;
	border: 1px solid #FFFFFF;
	border-radius: 60px;
	box-shadow: none;
	color: #FFFFFF;
	font-family: Ubuntu-Bold;
	margin: 1%;
	padding: 10px;
	width: 9rem !important;
}

.learn-button:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #FF7A85;
}

/* Section 2 */
.section-2 {
  background-color: none !important;
	color: #4B5862;
	padding-bottom: 5%;
	padding-left: 14%;
	padding-right: 0%;
	padding-top: 2%;
	text-align: left;
}

.section-2-header {
  background-color: none;
	color: #00001A;
	font-family: Overpass-Semibold;
	font-size: 2.2rem;
	left: 0;
	margin-bottom: 10%;
	padding-top: 4%;
	position: absolute;
	right: 0;
	text-align: center;
}

.section-2-subheader {
  color: #00001A;
  font-family: Overpass-Semibold;
  font-size: 1.7rem;
}

.section-2-text {
  font-family: Overpass-Light;
  font-size: 1.1rem;
  margin-bottom: 17%;
}

.section-2-pic-wrapper {
  overflow: hidden !important;
}

.section-2-pic-small {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}

/* Section 3 */
.section-3 {
  align-items: center;
	background-image: url(assets/bg-pattern-circles.svg), linear-gradient(to right, #2C2D3F, #3F4164);
	background-position: -110% 90%;
	background-repeat: no-repeat;
	background-size: cover 100% 150%;
	border-bottom-left-radius: 140px;
	border-top-right-radius: 140px;
	color: #FFFFFF;
	min-height: 30vh;
	padding-bottom: 3%;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: -70%;
	position: relative;
	text-align: left;
}

.section-3-pic-wrapper {
  background-image: url(assets/illustration-phones.svg);
	background-position: 90% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: -140px;
	min-height: 80vh;
	padding-bottom: 80px;
	position: relative;
}

.section-3-copy {
  position: relative;
  text-align: left;
}

.section-3-header {
  font-family: Overpass-Semibold;
  font-size: 1.7rem;
}

.section-3-text {
  font-family: Overpass-Light;
  font-size: 1.1rem;
}

/* Section 4 */
.section-4 {
  background-color: none !important;
	color: #4B5862;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 14%;
	padding-top: 2%;
	text-align: left;
}

.section-4-header {
  background-color: none;
	color: #00001A;
	font-family: Overpass-Semibold;
	font-size: 2.2rem;
	left: 0;
	margin-bottom: 10%;
	padding-top: 4%;
	position: absolute;
	right: 0;
	text-align: center;
}

.section-4-subheader {
  color: #00001A;
  font-family: Overpass-Semibold;
  font-size: 1.7rem;
}

.section-4-text {
  font-family: Overpass-Light;
  font-size: 1.1rem;
  margin-bottom: 17%;
}

.section-4-pic-wrapper {
  background-image: url(assets/illustration-laptop-desktop.svg);
	background-position: 90% center;
	background-repeat: no-repeat;
	background-size: cover 100% 100%;
	min-height: 118vh;
	overflow: hidden !important;
	position: relative;
	width: 100%;
}

.section-4-pic-small {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}

/* Section 5 */
.section-5 {
  background-color: #25252D;
	border-top-right-radius: 140px;
	color: #FFFFFF;
	font-family: Ubuntu-Light;
	min-height: 30vh;
	padding-bottom: 5%;
	padding-left: 14%;
	padding-right: 14%;
	padding-top: 6%;
	text-align: left;
}

.section-5-header {
  font-family: Ubuntu-Medium;
}

.section-5-text {
  font-family: Ubuntu-Light;
}

.section-5-text:hover {
  text-decoration: underline;
}


/* Mobile screen settings */
@media(max-width: 1000px) {

  .nav-wrapper {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #00001A;
    justify-content: center;
    left: 0;
    padding: 7%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100px;
  }

  #dropdown-product, #dropdown-company, #dropdown-connect {
    align-items: center;
    color: #00001A !important;
    justify-content: center;
    margin: 0 !important;
  }
  
  #dropdown-product:hover, #dropdown-company:hover, #dropdown-connect:hover {
    font-family: Ubuntu-Bold;
    text-decoration: underline;
  }

  .dropdown-menu {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 3rem !important;
    margin-top: -10% !important;
    position: relative !important;
    width: 100%;
  }

  .dropdown-item {
    background-color: #DBDBDB !important;
    font-family: Ubuntu-Light;
    font-size: 14px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important;
    text-align: center !important;
  }
  
  .dropdown-item:hover {
    background-color: #DBDBDB !important;
    font-family: Ubuntu-Medium;
  }

  .section-1 {
    background-image: url(assets/bg-pattern-intro-mobile.svg), linear-gradient(to right, #FF8F70, #FF525D);
  }

  .section-2 {
    justify-content: center;
    padding-left: 16%;
    padding-right: 16%;
  }

  .section-2-content {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .section-2-header {
    padding-top: 7%;
    position:block;
    text-align: center;
  }

  .section-2-pic-wrapper {
    background-image: url(assets/illustration-editor-mobile.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 65vh;
    overflow: visible;
    position: relative;
  }

  .section-2-pic-big {
    position: absolute;
    visibility: hidden;
    z-index: -10;
  }

  .section-3 {
    justify-content: center;
    padding-left: 16%;
    padding-right: 16%;
  }

  .section-3-pic-wrapper {
    background-position: center center;
    background-size: contain;
    min-height: 60vh;
    overflow: visible;
  }

  .section-3-copy {
    padding-bottom: 15%;
    padding-top: 30%;
    text-align: center;
  }

  .section-4 {
    justify-content: center;
    padding-left: 16%;
    padding-right: 16%;
  }

  .section-4-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-4-header {
    padding-top: 7%;
    position: block;
    text-align: center;
  }

  .section-4-pic-wrapper {
    background-image: url(assets/illustration-laptop-mobile.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 45vh;
    overflow: visible;
    position: relative;
  }

  .section-4-pic-big {
    position: absolute;
    visibility: hidden;
    z-index: -10;
  }

  .section-5 {
    justify-content: center;
    padding-top: 10%;
    text-align: center;
  }

  .section-5-header {
    padding-top: 15%;
  }
}