/* Color Palette
-Primary
Light red (CTA text): #FF525D
Very light red (CTA hover background): #FF7A85
Very dark blue (headings): #00001A 

-Neutral
White (text): #FFFFFF
Off-white: #FFFDFA
Light grey: #DBDBDB
Grayish blue (footer text): #C5C6CE
Very dark grayish blue (body copy): #4B5862
Very dark black blue (footer background): #25252D

-Background gradient - Intro/CTA mobile nav:
Very light red (CTA hover background): #FF8F70
Light red (CTA text): #FF525D

-Background gradient - body:
Very dark gray blue: #2C2D3F
Very dark desaturated blue: #3F4164
*/

/* Imported Fonts */
@font-face {
  font-family: Overpass-Light;
  src: url(assets/fonts/Overpass-Light.ttf);
}

@font-face {
  font-family: Overpass-SemiBold;
  src: url(assets/fonts/Overpass-SemiBold.ttf);
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url(assets/fonts/Ubuntu-Bold.ttf);
}

/* Layout */
.layout-wrapper {
  background-color: #FFFDFA;
  padding: 0%;
}

/* App */
.App {
  background-color: #FFFDFA;
  color: #FFFFFF;
  min-height: 100vh;
}

/* Navigation */
#navigation {
  background-color: none;
  text-align: left;
  font-family: Ubuntu-Medium;
  margin-bottom: 6%;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  width: 120px;
}

.nav-item {
  padding: 0 5px;
  font-family: Ubuntu-Medium;
}

.nav-link {
  font-size: 1.2rem;
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
  text-decoration: underline;
  font-weight: bold;
}

.navbar-toggler {
  border: none !important;
}

.dropdown-toggle::after {
  /* display: none; */
}

.navbar-light .navbar-burger {
  background-image: url(assets/icon-hamburger.svg) !important;
  outline: none;
  box-shadow: none;
}

.navbar-light .navbar-x {
  background-image: url(assets/icon-close.svg) !important;
  outline: none;
  box-shadow: none;
}

#dropdown {
  color: #FFFFFF !important;
  background-color: transparent !important;
  border: 0 !important
}

#dropdown:hover {
  text-decoration: underline;
  font-family: Ubuntu-Bold;
}

#dropdown::after {
  display: none;
}

.dropdown-item {
  font-family: Ubuntu-Light;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #FFFFFF !important;
  font-family: Ubuntu-Medium;
}

.icon-fill {
  color: #FFFFFF;
}

.login-button {
  width: 7rem !important;
  background: #FF7A85;
  color: #FFFFFF;
  /* border: 1px solid #FFFFFF; */
  border: 0 !important;
  padding: 10px;
  border-radius: 60px;
  font-family: Ubuntu-Bold;
  box-shadow: none;
  margin: 1%;
}

.login-button:hover {
  background-color: #FFFFFF;
  color: #FF7A85;
  border: 1px solid #FFFFFF;
}

.signup-button {
  width: 7rem !important;
  background-color: #FFFFFF;
  color: #FF7A85;
  padding: 10px;
  border: 0 !important;
  border-radius: 60px;
  font-family: Ubuntu-Bold;
  margin: 1%;
}

.signup-button:hover {
  background-color: #FF7A85;
  color: #FFFFFF;
  border: 1px solid #FF7A85;
}

/* Landing Page */
#landing-page {
  background-color: #FFFDFA;
  color: #00001A;
}

/* Section 1 */
.section-1 {
  background-image: url(assets/bg-pattern-intro-desktop.svg), linear-gradient(to right, #FF8F70, #FF525D);
  background-position: 30% 50%;
  background-size: 200% 500%;

  min-height: 30vh;
  border-bottom-left-radius: 140px;
  padding-top: 5%;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 12%;

  text-align: center;
  color: #FFFFFF;
}

.section-1-header {
  font-size: 3.3rem;
  font-family: Overpass-SemiBold;
}

.section-1-text {
  font-family: Overpass-Light;
}

.button-row {
  justify-content: center;
}

.start-button {
  width: 9rem !important;
  background-color: #FFFFFF;
  color: #FF7A85;
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  font-family: Ubuntu-Bold;
  margin: 1%;
}

.start-button:hover {
  background-color: #FF7A85;
  color: #FFFFFF;
  border: 1px solid #FF7A85;
}

.learn-button {
  width: 9rem !important;
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px;
  border-radius: 60px;
  font-family: Ubuntu-Bold;
  box-shadow: none;
  margin: 1%;
}

.learn-button:hover {
  background-color: #FFFFFF;
  color: #FF7A85;
  border: 1px solid #FFFFFF;
}

/* Section 2 */
.section-2 {
  background-color: none !important;
  padding-top: 2%;
  padding-left: 14%;
  padding-right: 0%;
  padding-bottom: 5%;
  text-align: left;
  color: #4B5862;
}

.section-2-header {
  color: #00001A;
  font-family: Overpass-Semibold;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 10%;
  padding-top: 4%;
  background-color: none;
  position:absolute;
  left: 0;
  right: 0;
}

.section-2-subheader {
  color: #00001A;
  font-family: Overpass-Semibold;
  font-size: 1.7rem;
}

.section-2-text {
  font-family: Overpass-Light;
  font-size: 1.1rem;
  margin-bottom: 17%;
}

.section-2-pic-wrapper {
  overflow: hidden;
}

.section-2-pic-small {
  visibility: hidden;
  position: absolute;
  z-index: -10;
}

/* Section 3 */
.section-3 {
  background-image: url(assets/bg-pattern-circles.svg), linear-gradient(to right, #2C2D3F, #3F4164);
  background-position: -20% 120%;
  background-size: 100% 150%;

  min-height: 50vh;
  border-bottom-left-radius: 140px;
  border-top-right-radius: 140px;
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 3%;

  text-align: left;
  color: #FFFFFF;
  align-items: center;

  position: relative;
}

.section-3-pic-wrapper {
  position: flex;
  bottom: 10;
  left: 5;
}

.section-3-copy {
  position: flex;
  text-align: left;
  float: right;
  left: 50%;
  width: 40px;
}

.section-3-header {
  font-family: Overpass-Semibold;
  font-size: 1.7rem;
  padding-top: 0%;
}

.section-3-text {
  font-family: Overpass-Light;
  font-size: 1.1rem;
}

/* Section 4 */
.section-4 {
  background-color: none !important;
  padding-top: 2%;
  padding-left: 0%;
  padding-right: 14%;
  padding-bottom: 5%;
  text-align: left;
  color: #4B5862;
}

.section-4-header {
  color: #00001A;
  font-family: Overpass-Semibold;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 10%;
  padding-top: 4%;
  background-color: none;
  position:absolute;
  left: 0;
  right: 0;
}

.section-4-subheader {
  color: #00001A;
  font-family: Overpass-Semibold;
  font-size: 1.7rem;
}

.section-4-text {
  font-family: Overpass-Light;
  font-size: 1.1rem;
  margin-bottom: 17%;
}

.section-4-pic-wrapper {
  background-image: url(assets/illustration-laptop-desktop.svg);
  background-position: 90% center;
  background-size: cover 100% 100%;
  background-repeat: no-repeat;
  min-height: 118vh;

  position: relative;
  overflow: hidden;
  width: 100%;
}

.section-4-pic-small {
  visibility: hidden;
  position: absolute;
  z-index: -10;
}

/* Section 5 */
.section-5 {
  background-color: #25252D;
  font-family: Ubuntu-Light;
  padding-top: 6%;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 5%;
  text-align: left;
  color: #FFFFFF;
  min-height: 30vh;
  border-top-right-radius: 140px;
}

.section-5-header {
  font-family: Ubuntu-Medium;
}

.section-5-text {
  font-family: Ubuntu-Light;
}

.section-5-text:hover {
  text-decoration: underline;
}


/* Mobile screen settings */
@media(max-width: 1000px) {

  .nav-wrapper {
    background-color: #FFFFFF;
    color: #00001A;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    padding: 7%;
  }

  #dropdown {
    align-items: center;
    justify-content: center;
  }

  #dropdown {
    color: #00001A !important;
    /* position: relative; */
    margin: 0 !important;
  }
  
  #dropdown:hover {
    text-decoration: underline;
    font-family: Ubuntu-Bold;
  }

  .dropdown-menu {
    position:relative !important;
    border-radius: 0 !important;
    border: 0 !important;
    width: 100%;
    margin-top: -8% !important;
    margin-bottom: 10% !important;
  }

  .dropdown-item {
    background-color: #DBDBDB !important;
    font-family: Ubuntu-Light;
    font-size: 14px;
    position: relative !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .dropdown-item:hover {
    background-color: #DBDBDB !important;
    font-family: Ubuntu-Medium;
  }

  .section-1 {
    background-image: url(assets/bg-pattern-intro-mobile.svg), linear-gradient(to right, #FF8F70, #FF525D);
  }

  .section-2 {
    padding-left: 16%;
    padding-right: 16%;
  }

  .section-2-content {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .section-2-header {
    position:block;
    text-align: center;
    padding-top: 7%;
  }

  .section-2-pic-wrapper {
    background-image: url(assets/illustration-editor-mobile.svg);
    background-position: center center;
    background-size: cover 100% 100%;
    background-repeat: no-repeat;
    min-height: 75vh;

    position: relative;
    overflow: visible;
  }

  .section-2-pic-big {
    visibility: hidden;
    position: absolute;
    z-index: -10;
  }

  .section-4 {
    padding-left: 16%;
    padding-right: 16%;
  }

  .section-4-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .section-4-header {
    position:block;
    text-align: center;
    padding-top: 7%;
  }

  .section-4-pic-wrapper {
    background-image: url(assets/illustration-laptop-mobile.svg);
    background-position: center center;
    background-size: cover 100% 100%;
    background-repeat: no-repeat;
    min-height: 50vh;
    
    position: relative;
    overflow: visible;
  }

  .section-4-pic-big {
    visibility: hidden;
    position: absolute;
    z-index: -10;
  }

  .section-5 {
    padding-top: 10%;
    text-align: center;
  }

  .section-5-header {
    padding-top: 15%;
  }
}