/* Color Palette
-Primary
Orange: #FB7413

-Neutral
White: #FFFFFF
Off white: #F0F0F0
Light grey: #DBDBDB
Medium grey: #7C8798
Dark blue: #252D37
Very dark blue: #121417
*/

/* Imported Fonts */
@font-face {
  font-family: Overpass-Bold;
  src: url(assets/fonts/Overpass-Bold.ttf);
}

@font-face {
  font-family: Overpass-Regular;
  src: url(assets/fonts/Overpass-Regular.ttf);
}

/* App */
.App {
  background-color: #252D37;
  color: #FFFFFF;
  min-height: 100vh;
  width: auto;
}

/* Landing Page */
#landing-page {
  background-color: #121417;
  font-family: Poppins-Regular;
  min-height: 100vh;
  padding: 5%;
}

/* Rating Component */
#rating {
  background-image: linear-gradient(#252D37, #121417);
  border-radius: 15px;
  min-height: 35vh;
  padding: 6%;
}

.star {
  margin: auto;
}

.star-box {
  background-color: #252D37;
  border-radius: 50%;
  display: flex;
  height: 37px;
  justify-content: center;
  width: 37px;
}

.rating-header {
  color: #FFFFFF;
  font-family: Overpass-Bold;
  font-size: 1.7rem;
}

.rating-text {
  color: #7C8798;
  font-family: Overpass-Regular;
  font-size: 15px;
}

.ratings-row {
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.rating-option-button {
  background-color: #252D37;
	border: 0!important;
	border-radius: 50%;
	color: #7C8798;
	display: inline-block;
	font-family: Overpass-Bold;
	font-size: 12px;
	height: 37px;
	padding-top: 1%;
	text-align: center;
	width: 37px;
}

.rating-option-button:not(:last-child) {
  margin-right: 7%;
}

.rating-option-button:hover {
  background-color: #FB7413;
  color: #FFFFFF;
}

.rating-option-button-selected {
  background-color: #7C8798;
  color: #FFFFFF;
}

.rating-submit-button {
  align-items: center;
	background-color: #FB7413;
	border: 0!important;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: Overpass-Bold;
	font-size: 15px;
	height: 37px;
	padding-top: 1%;
	width: 100%;
}

.rating-submit-button:hover {
  background-color: #FFFFFF;
  color: #FB7413;
}

.thank-you {
  text-align: center;
}

.rating-result-box {
  background-color: #252D37;
  border-radius: 40px;
  height: 37px;
  padding-top: 4%;
  text-align: center;
}

.rating-result {
  color: #FB7413;
  font-family: Overpass-Regular;
  font-size: 14px;
  margin: auto;
}

.rating-header-result {
  color: #FFFFFF;
  font-family: Overpass-Bold;
  text-align: center;
}

.rating-text-result {
  color: #7C8798;
  font-family: Overpass-Regular;
  font-size: 15px;
  text-align: center;
}